h1 {
  font-family: "Copperplate", serif;
  font-size: 50px;
  color: pink;
  text-align: left;
}

body {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100vh;           
  margin: 0;               
}

p {
  text-align: center;     
}
