body {
  margin: 0;
  height: 100vh; 
  display: flex;
  flex-direction: column;  
  justify-content: center; 
  align-items: center;     
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;  
  font-family: "Copperplate", serif;
  font-size: 50px;
  color: pink;
}

p {
  text-align: center; 
}
